<template lang="pug">
  
    n-page(v-touch="touch")
        div(slot="title")
            n-event-label(:event="fauxEvent")
        .text-xs-center
            v-pagination(v-if="paginationLength > 1" :length="paginationLength" v-model="page")
        template(v-for="(dayEvents, day) in pageEvents")
            p.mt-3.headline {{ day }}
            n-events(:events="dayEvents")
        n-addfab

</template>
<script>

    import moment from 'moment';
    import Event from 'model/event';
    import EventBus from 'bus';
    import { objectContains } from 'util/object';
    
    const PAGE_SIZE = 10;

    export default {

        props: {
            filter: Object
        },

        data() {
            return {
                events: [],
                fauxEvent: Event.create(this.filter),
                page: 1,
                touch: {
                    right: this.previousPage,
                    left: this.nextPage
                }
            }
        },

        computed: {
            pageEvents() {
                const startIndex = (this.page - 1) * PAGE_SIZE;
                const endIndex = Math.min(this.events.length, startIndex + PAGE_SIZE);
                return this.partitionByDay(this.events.slice(startIndex, endIndex));
            },
            paginationLength() {
                return Math.ceil(this.events.length / PAGE_SIZE);
            }
        },

        methods: {
            loadEvents() {
                this.events = this.$store.getters.events
                    .nondeleted()
                    .filter(event => objectContains(event, this.filter))
                    .sort((a, b) => b.date - a.date);
            },
            nextPage() {
                this.page = Math.min(this.paginationLength, this.page + 1);
            },
            partitionByDay(events) {
                return events.reduce((acc, event) => {
                    const dateKey = moment(event.date).format('MMMM Do');
                    (acc[dateKey] || (acc[dateKey] = [])).push(event);
                    return acc;
                }, {});
            },
            previousPage() {
                this.page = Math.max(1, this.page - 1);
            }
        },

        mounted() {
            this.loadEvents();
            EventBus.$on('sync', this.loadEvents);
        },

        destroyed() {
            EventBus.$off('sync', this.loadEvents);
        }

    }

</script>
