<template lang="pug">
  
    .n-duration(v-if="editable")
        .n-duration__time
            .n-duration__time__field: v-text-field(type="number" min="0" max="24" v-model="parts.hours" label="Hours" @input="input")
            .n-duration__time__field: v-text-field(type="number" min="0" max="59" v-model="parts.minutes" label="Minutes" @input="input")
            .n-duration__time__field: v-text-field(type="number" min="0" max="59" v-model="parts.seconds" label="Seconds" @input="input")
            .n-duration__time__extra
                v-menu(offset-y)
                    v-btn(flat slot="activator" icon)
                        v-icon more_horiz
                    v-list
                        v-list-tile(v-for="prettyDuration in prettyDurations" :key="prettyDuration.value" @click="setDuration(prettyDuration.value), input()")
                            v-list-tile-title {{ prettyDuration.label }}
    span(v-else)
        span {{ formattedDuration }}

</template>
<script>
    
    import DateUtil from 'util/date';

    const prettyDurations = [
        { value: 300, label: '5 Minutes' },
        { value: 900, label: '15 Minutes' },
        { value: 1200, label: '20 Minutes' },
        { value: 1800, label: '30 Minutes' },
        { value: 2400, label: '40 Minutes' },
        { value: 2700, label: '45 Minutes' },
        { value: 3600, label: '1 Hour' },
        { value: 5400, label: '1 Hour 30 Minutes' },
        { value: 7200, label: '2 Hours' },
        { value: 9000, label: '2 Hours 30 Minutes' },
        { value: 10800, label: '3 Hours' },
        { value: 12600, label: '3 Hours 40 Minutes' },
        { value: 14400, label: '4 Hours' }
    ];

    export default {

        model: {
            prop: 'value',
            event: 'input'
        },

        props: {
            editable: Boolean,
            value: Number
        },

        data() {
            return {
                parts: {
                    hours: 0,
                    minutes: 0,
                    seconds: 0
                },
                prettyDurations
            }
        },

        computed: {
            formattedDuration() {
                return DateUtil.formatDuration(this.value);
            }
        },

        methods: {
            input() {
                const finalDuration = parseInt(this.parts.hours) * 3600 + parseInt(this.parts.minutes) * 60 + parseInt(this.parts.seconds);
                this.$emit('input', finalDuration);
            },
            setDuration(duration) {
                const { hours, minutes, seconds } = DateUtil.getDurationParts(duration);
                this.parts.hours = hours;
                this.parts.minutes = minutes;
                this.parts.seconds = seconds;
            }
        },

        mounted() {
            this.setDuration(this.value);
        },

        watch: {
            value(t, f) {
                this.setDuration(this.value);
            }
        }

    }

</script>
<style lang="stylus">

    .n-duration
        display: table
        &__time
            display: table-row
            > *
                display: table-cell
                vertical-align: top
            &__field
                position: relative
                width: 72px
                padding-right: 12px
                .input-group
                    display: inline-block
                    width: 72px
                &:after
                    position: absolute
                    top: 22px
                    right: 4px
                    content: ':'
                &:nth-child(3):after
                    display: none
</style>
