<template lang="pug">
    div
        .n-events
            n-events-event(v-for="(event, index) in events" :key="index" :event="event" :ripple="true" :highlighted="event.eventId === highlightedEventId" :full-date="fullDate" :time-since="timeSince")
            v-alert(type="info" v-if="!events.length" :value="true") There's nothing here
</template>
<script>

    import EventsEventComponent from './event.vue';

    export default {

        props: {
            event: Number,
            events: Array,
            fullDate: Boolean,
            highlightedEventId: {
                type: String,
                required: false
            },
            timeSince: Boolean
        },

        components: {
            'n-events-event': EventsEventComponent
        }

    }

</script>
<style lang="stylus">

    @import '../../conf.styl';
    @import '~vuetify/src/stylus/bootstrap';
    @import '~vuetify/src/stylus/theme';

    n-events($material)
        background: $material.cards
        color: $material.text.primary
        .n-events
            &__event
                &:hover
                    background-color: $material.expansion-panels.focus
                &__details__subtitle
                    color: $material.text.secondary
                &__time
                    color: $material.text.secondary

    theme(n-events, 'n-events')

    .n-events

        display: table
        width: 100%

        &__event

            display: table-row

            > *
                display: table-cell

</style>
