<template lang="pug">
    .n-events__event(:class="getClassName(event)" @click="e => edit(event)" v-on="$listeners" :ripple="true")
        .n-events__event__icon
            v-avatar: n-event-icon(:event="event" :class="getIconClassName(event)")
        .n-events__event__details
            template(v-if="'message' === event.type") {{ event.note }}
            template(v-else)
                .n-events__event__details__title
                    n-event-label(:event="event")
                .n-events__event__details__subtitle: n-event-summary(:event="event")
                .n-events__event__details__content: n-event-note(:event="event")
        .n-events__event__time
            n-event-time(:event="event" :full-date="fullDate" :time-since="timeSince")
            v-icon(v-if="event.starred" color="orange") star
</template>
<script>

    import Ripple from '../../../node_modules/vuetify/src/directives/ripple';

    export default {

        props: {
            event: Object,
            fullDate: Boolean,
            highlighted: {
                type: Boolean,
                required: false
            },
            timeSince: Boolean
        },

        directives: {
            Ripple
        },

        methods: {

            edit(event) {
                return this.$router.push({ name: 'event/edit', params: { eventId: event.eventId } });
            },

            getClassName(event) {
                const className = {
                    'n-events__event--highlight': this.highlighted
                };
                className[`n-events__event--${event.type}`] = true;
                return className;
            },

            getIconClassName(event) {
                return {};
            }

        }
    }

</script>
<style lang="stylus">

    @import '../../conf.styl';
    @import '~vuetify/src/stylus/bootstrap';
    @import '~vuetify/src/stylus/theme';

    n-events($material)
        background: $material.cards
        color: $material.text.primary
        .n-events
            &__event
                &:hover
                    background-color: $material.expansion-panels.focus
                &__details__subtitle
                    color: $material.text.secondary
                &__time
                    color: $material.text.secondary

    theme(n-events, 'n-events')

    @keyframes highlight
        0%
            box-shadow: none
        12%
            box-shadow: 0 4px 24px rgba(black, 0.5)
        100%
            box-shadow: none

    .n-events__event

        cursor: pointer

        &--highlight {
            animation-delay 1s
            animation-duration 6.5s
            animation-name highlight
        }

        > *
            border-top: 1px solid $color-divider;
            padding: $space-sm

        &:first-child > *
            border-top: 0

        &__icon
            padding: $space-xs
            > .avatar
                transform: translate(4px, 2px)

        &__details
            width: 100%
            &__title
                font-size: $font-size-lg
                font-weight: 500
            &__subtitle
                font-size: $font-size-md
            &__content
                font-size: 90%

        &__time
            width: 80px
            text-align: right
            padding: 0 $space-md $space-sm
            font-size: $font-size-lg
            font-weight: 500


</style>
