<template lang="pug">

    n-page(title="Add")
        template(v-for="(actions, section) in sections")
            strong {{ section }}
            template(v-for="action in actions")
                v-btn(block :to="getFormRoute(action)")
                    span {{ action.label }}
        footer
            v-btn(:to="returnTo") Cancel

</template>
<script>

    import DateUtil from 'util/date';
    
    export default {

        props: {
            date: {
                type: String,
                default() {
                    return DateUtil.toDateString();
                }
            },
            time: {
                type: String,
                default() {
                    return DateUtil.toTimeString();
                }
            }
        },

        computed: {
            returnTo() {
                return this.$route.query.returnTo || 'timeline';
            },
            sections() {
                return {
                    'Events': [
                        { type: 'eat', label: 'Breast Feeding', details: { details: { type: 'breast' } } },
                        { type: 'eat', label: 'Bottle Feeding', details: { details: { type: 'bottle' } } },
                        { type: 'diaper', label: 'Diaper Change', details: { } },
                        { type: 'sleep', label: 'Sleep', details: { } },
                        { type: 'fuss', label: 'Fuss', details: { } }
                    ],
                    'Milestones': [
                        { type: 'size', label: 'Height/Weight', details: { } }
                    ]
                }
            }
        },

        methods: {
            getFormRoute(action) {

                let query = Object.assign(
                    { details: JSON.stringify(action.details) },
                    this.$route.query || {}
                );

                return {
                    name: 'event/create/type',
                    params: {
                        date: this.date,
                        time: this.time,
                        type: action.type
                    },
                    query
                }
            }
        }

    }

</script>