<template lang="pug">
    
    n-page
        v-card
            v-form(v-model="valid")
                n-event(
                    :event="draft"
                    :editable="true"
                    :action="submit"
                    :action-text="submitVerb"
                    :returnTo="returnTo"
                    :hide-options="true"
                )

</template>
<script>

    import DateUtil from 'util/date';
    import Event from 'model/event';
    import EventBus from 'bus';
    import { sync } from 'component/sync';
    
    export default {

        props: {
            date: [Number, String],
            type: String
        },

        data() {
            return {
                draft: {},
                valid: false
            }
        },

        computed: {

            actionIcon() {
                return this.active ? 'play_arrow' : 'add';
            },

            active() {
                return this.draft && ('function' === typeof this.draft.isActive) && this.draft.isActive();
            },

            returnTo() {
                return this.$route.query.returnTo || 'timeline';
            },

            submitVerb() {
                return this.active ? 'Start' : 'Add'
            },

            details() {
                return Object.assign(
                    JSON.parse(this.$route.query.details), {
                        date: DateUtil.timestamp(this.date)
                    });
            }

        },

        methods: {

            setGlobalAction() {
                EventBus.$emit('globalAction', {
                    icon: this.actionIcon,
                    action: this.submit
                });
            },

            async submit() {

                const createdEvent = this.$store.dispatch('createEvent', { event: this.draft });
                
                sync(this.$store, this.$dao);

                if (createdEvent) {
                    const proceedTo = this.$route.query.proceedTo || {
                        name: 'timeline',
                        params: { date: DateUtil.toDateTimeString(createdEvent.date) },
                        query: { eventId: createdEvent.eventId }
                    };
                    this.$router.push(proceedTo);
                }

            }

        },

        beforeMount() {

            // Create the draft
            this.draft = Event.create(Object.assign({ type: this.type }, this.details));

            // Set the time
            this.draft.date = DateUtil.timestamp(`${DateUtil.toDateString(this.draft.date)}T${DateUtil.toTimeString()}`);

        },

        destroyed() {
            EventBus.$emit('globalAction', {});
        },

        watch: {
            actionIcon() {
                this.setGlobalAction();
            }
        }

    }

</script>
