<template lang="pug">

    n-page(title="Save/Export")

        form(method="post" action="server/export.php" target="_blank")
            input(type="hidden" name="userId" :value="user.userId")
            input(type="hidden" name="babyId" :value="baby.babyId")
            input(type="hidden" name="type" value="csv")
            v-btn(type="submit") CSV

        form(method="post" action="server/export.php" target="_blank")
            input(type="hidden" name="userId" :value="user.userId")
            input(type="hidden" name="babyId" :value="baby.babyId")
            input(type="hidden" name="type" value="json")
            v-btn(type="submit") JSON

</template>
<script>
    
    export default {

        computed: {

            baby() {
                return this.$store.getters.baby;
            },

            user() {
                return this.$store.getters.user;
            }

        }

    }

</script>