<template lang="pug">
    div
        v-select(:items="locationOptions" label="Location" v-model="event.details.location")
</template>
<script>

    import { LOCATIONS } from 'model/event/SleepEvent';

    export default {

        props: {
            event: Object,
            editable: Boolean
        },

        data() {
            return {
                locationOptions: LOCATIONS
            }
        }

    }

</script>
