<template lang="pug">
    span {{ label }}
</template>
<script>

    export default {
        props: {
            event: Object
        },
        computed: {
            label() {
                return 'Sleep';
            }
        }
    }

</script>
