<template lang="pug">
    span {{ summary }}
</template>
<script>

    import WordUtil from 'util/word';

    export default {
        props: {
            event: Object
        },
        computed: {
            summary() {
                return this.event.details.location;
            }
        }
    }

</script>
