<template lang="pug">

    .n-trends
        .subheading.mt-3.mb-3 Averages
        v-data-table(:headers="headers" :items="items" hide-actions)
            template(slot="items" slot-scope="props")
                td: a(@click="navigateToEvents(props.item)") {{ props.item.measure }}
                td.text-xs-right {{ props.item.past6 }}
                td.text-xs-right {{ props.item.today }}
                td.text-xs-right {{ props.item.yesterday }}
                td.text-xs-right {{ props.item.thisWeek }}
                td.text-xs-right {{ props.item.lastWeek }}
        .subheading.mt-3.mb-3 Height/Weight
        n-chart(:config="sizeChartConfig")

</template>
<script>

    import moment from 'moment';
    import DateUtil from 'util/date';
    import { objectContains } from 'util/object';
    
    export default {

        props: {
            events: Array
        },

        data() {
            return {
                headers: [
                    { text: 'Measure', value: 'measure', align: 'left' },
                    { text: 'Past 6 Hrs', value: 'past6', align: 'right' },
                    { text: 'Today', value: 'today', align: 'right' },
                    { text: 'Yesterday', value: 'yesterday', align: 'right' },
                    { text: 'This Week', value: 'thisWeek', align: 'right' },
                    { text: 'Last Week', value: 'lastWeek', align: 'right' }
                ],
                past6Hours: moment().subtract(6, 'hour'),
                today: moment(),
                yesterday: moment().subtract(1, 'day'),
                startOfWeek: moment().subtract(1, 'week'),
                startOfLastWeek: moment().subtract(2, 'week'),
                moments: {}
            }
        },

        computed: {
            items() {
                return [
                    this.getMeasureRow_AverageDuration('Breast Feeding', { type: 'eat', details: { type: 'breast' } }),
                    this.getMeasureRow_AverageDuration('Bottle Feeding', { type: 'eat', details: { type: 'bottle' } }),
                    this.getMeasureRow_AverageDuration('Pumping', { type: 'eat', details: { type: 'pump' } }),
                    this.getMeasureRow_AverageDuration('Fuss', { type: 'fuss' }),
                    this.getMeasureRow('Diaper Change', { type: 'diaper' }, () => 1, this.displayCount),
                    this.getMeasureRow('Fuss Level', { type: 'fuss' }, event => event.details.severity, this.displayValueWithCount),
                    this.getMeasureRow_AverageDuration('Sleep', { type: 'sleep' })
                ];
            },
            sizeChartConfig() {

                const heights = this.events.filter(event => event.type === 'size' && event.details.height);
                const weights = this.events.filter(event => event.type === 'size' && event.details.weight);
                const dates = new Set();

                heights.map(height => height.date).forEach(date => dates.add(DateUtil.toDateString(date)));
                weights.map(weight => weight.date).forEach(date => dates.add(DateUtil.toDateString(date)));

                const resolvedDates = Array.from(dates).sort();
                const resolvedHeights = [];
                const resolvedWeights = [];

                resolvedDates.forEach((date, index) => {
                    const dateMoment = moment(date);
                    const foundHeight = heights.find(event => dateMoment.isSame(event.date, 'day'));
                    const foundWeight = weights.find(event => dateMoment.isSame(event.date, 'day'));
                    resolvedHeights[index] = foundHeight ? foundHeight.details.height : null;
                    resolvedWeights[index] = foundWeight ? foundWeight.details.weight : null;
                });

                return {
                    axis: {
                        x: {
                            type: 'timeseries',
                            format: '%m-%d',
                            label: 'Date'
                        },
                        y: {
                            label: 'Height (in)'
                        },
                        y2: {
                            show: true,
                            label: 'Weight (oz)'
                        }
                    },
                    data: {
                        x: 'date',
                        type: 'spline',
                        columns: [
                            ['date'].concat(resolvedDates),
                            ['Height'].concat(resolvedHeights),
                            ['Weight'].concat(resolvedWeights)
                        ],
                        axes: {
                            'Height': 'y',
                            'Weight': 'y2'
                        }
                    },
                    subchart: {
                        show: true
                    }
                };

            }
        },

        methods: {
            displayCount({ count }) {
                return count;
            },
            displayValueWithCount({ count, value }) {
                if (count) {
                    return `${value} (${count})`;
                }
            },
            getAverage(events, value) {
                if (events.length) {
                    return {
                        count: events.length, 
                        value: events.map(value).reduce((p, c) => p + c, 0) / events.length
                    };
                } else {
                    return { count: 0, value: 0 };
                }
            },
            getEventsForTimePeriod(events, timePeriod) {
                if ('past6' === timePeriod) {
                    return events.filter(event => this.getMoment(event).isBetween(this.past6Hours, this.today));
                } else if ('today' === timePeriod) {
                    return events.filter(event => this.getMoment(event).isSame(this.today, 'day'));
                } else if ('yesterday' === timePeriod) {
                    return events.filter(event => this.getMoment(event).isSame(this.yesterday, 'day'));
                } else if ('thisWeek' === timePeriod) {
                    return events.filter(event => this.getMoment(event).isBetween(this.startOfWeek, this.today));
                } else if ('lastWeek' === timePeriod) {
                    return events.filter(event => this.getMoment(event).isBetween(this.startOfLastWeek, this.startOfWeek));
                } else {
                    return [];
                }
            },
            getMeasureRow(measure, filter, value, display) {
                const matchingEvents = this.events.filter(event => objectContains(event, filter));
                const timePeriods = [ 'past6', 'today', 'yesterday', 'thisWeek', 'lastWeek' ];
                const result = { measure, filter };
                timePeriods.forEach(timePeriod => result[timePeriod] = this.getMeasureRowValue(matchingEvents, timePeriod, value, display));
                return result;
            },
            getMeasureRowValue(events, timePeriod, value, display) {
                const average = this.getAverage(this.getEventsForTimePeriod(events, timePeriod), value);
                return display(average);
            },
            getMeasureRow_AverageDuration(measure, filter) {
                return this.getMeasureRow(
                    measure,
                    filter,
                    event => event.duration,
                    ({count, value}) => this.displayValueWithCount({count, value: DateUtil.formatDuration(value)})
                );
            },
            getMoment(event) {
                return this.moments[event.eventId] || (this.moments[event.eventId] = moment(event.date));
            },
            navigateToEvents(row) {
                this.$router.push({
                    name: 'browse',
                    params: {
                        filter: JSON.stringify(row.filter)
                    }
                });
            }
        }

    }

</script>
<style lang="stylus">

    .n-trends
        td, th
            white-space: nowrap

</style>
