<template lang="pug">

    n-page(title="Log In")
        n-login-btn(:params="loginParams" :auto="true" @success="success") Google Sign-In

</template>
<script>

    export default {

        data() {
            return {
                loginParams: {
                    client_id: '791576602838-ooc5ntcmg8hf5doioorchvuee01mkala.apps.googleusercontent.com'
                }
            }
        },
        
        methods: {

            async success(googleUser) {

                this.$store.state.authenticated = false;

                const profile = googleUser.getBasicProfile();

                if (profile) {

                    const token = googleUser.getAuthResponse().id_token;
                    const imageUrl = profile.getImageUrl();

                    const user = await this.$dao.getUser(token);
                    this.$store.commit('setUser', user);

                    const targetPath = this.$store.state.loginFromRoute || '/';
                    this.$store.state.loginFromRoute = null;
                    this.$router.replace(targetPath);

                }

            }
        }

    };

</script>