<script>
    
    export default {

        render(h) {
            return h('a', {
                attrs: {
                    class: 'g-signin-button'
                },
                ref: 'signinBtn'
            }, this.$slots.default);
        },

        props: {
            auto: Boolean,
            params: {
                type: Object,
                required: true
            }
        },

        mounted() {

            if (!window.gapi) {
                throw Error('"https://apis.google.com/js/api:client.js" needs to be included as a <script>.');
                return;
            }

            if (!this.params.client_id) {
                throw Error('params.client_id must be specified.');
                return;
            }

            window.gapi.load('auth2', () => {

                const auth2 = window.gapi.auth2.init(this.params);

                if (this.auto) {
                    auth2.currentUser.listen(googleUser => {
                        if (googleUser) {
                            this.$emit('success', googleUser);
                        }
                    });
                }

                auth2.attachClickHandler(this.$refs.signinBtn, {},
                    googleUser => {
                        this.$emit('success', googleUser);
                    }, error => {
                        this.$emit('error', error)
                        this.$emit('failure', error) // an alias
                    }
                );

            });
        }

    }

</script>