<template lang="pug">
    .event-time
        template(v-if="active")
            div(v-if="event.isActive()")
                v-icon.event-time__duration__icon timer
                | {{ activeTime }}
        template(v-else)
            template(v-if="timeSince")
                span {{ timeSinceFormatted }}
                div: small {{ timeFormatted }}
                div(v-if="event.isTimed()")
                    small
                        .pulse(v-if="event.isActive()")
                            v-icon.event-time__duration__icon timer
                            | {{ activeTime }}
                        template(v-else)
                            v-icon.event-time__duration__icon timer
                            | {{ durationFormatted }}
            template(v-else)
                span {{ timeFormatted }}
                div(v-if="event.isTimed()")
                    small
                        .pulse(v-if="event.isActive()")
                            v-icon.event-time__duration__icon timer
                            | {{ activeTime }}
                        template(v-else)
                            v-icon.event-time__duration__icon timer
                            | {{ durationFormatted }}
</template>
<script>

    import moment from 'moment';
    import DateUtil from 'util/date';

    export default {

        props: {
            active: Boolean,
            event: Object,
            fullDate: Boolean,
            timeSince: Boolean
        },

        data() {
            return {
                activeTime: null
            }
        },

        computed: {
            durationFormatted() {
                return this.event.getDurationFormatted();
            },
            timeFormatted() {
                if (this.fullDate) {
                    return DateUtil.toPrettyDateTime(this.event.date, 'h:mma');
                } else {
                    return DateUtil.formatTime(this.event.date);
                }
            },
            timeSinceFormatted() {
                return moment(this.event.date).from();
            }
        },

        methods: {
            computeActiveTime() {
                this.activeTime = DateUtil.timeSince(this.event.date);
            }
        },

        mounted() {
            if (this.event.isActive()) {
                this.computeActiveTime();
                this.activeTimeInterval = setInterval(() => this.computeActiveTime(), 1000);
            }
        },
        
        destroyed() {
            if (this.activeTimeInterval) {
                clearInterval(this.activeTimeInterval);
                this.activeTimeInterval = null;
            }
        }

    }

</script>
<style lang="stylus">

    .event-time
        white-space nowrap
        &--active
            .icon
                margin-left: 4px
        &__duration
            &__icon
                transform: translateY(-1px)
                font-size: 110%
                margin-right: 2px

</style>

