<template lang="pug">
    div
        v-checkbox(v-model="event.details.dirty" label="Dirty" hide-details)
        v-checkbox(v-model="event.details.wet" label="Wet" hide-details)
        template(v-if="event.details.dirty")
            p
            v-select(:items="amountOptions" label="Amount" v-model="event.details.amount")
            v-select(:items="colorOptions" label="Color" v-model="event.details.color")
</template>
<script>

    import { AMOUNTS, COLORS } from 'model/event/DiaperEvent';

    export default {

        props: {
            event: Object,
            editable: Boolean
        },

        data() {
            return {
                amountOptions: AMOUNTS,
                colorOptions: COLORS
            }
        }

    }

</script>
