<template lang="pug">
    span {{ summary }}
</template>
<script>

    import WordUtil from 'util/word';

    export default {
        props: {
            event: Object
        },
        computed: {
            summary() {

                const types = [];
                const { dirty, wet, amount, color } = this.event.details;

                if (wet) {
                    types.push('Wet');
                }

                if (dirty) {
                    const dirtyTypes = [];
                    if (color) {
                        dirtyTypes.push(color);
                    }
                    if (amount) {
                        dirtyTypes.push(amount);
                    }
                    if (dirtyTypes.length) {
                        types.push(`Dirty (${dirtyTypes.join(' ')})`);
                    } else {
                        types.push('Dirty');
                    }
                }

                if (types.length) {
                    return types.join(', ');
                } else {
                    return amount;
                }

            }
        }
    }

</script>
