<template lang="pug">
    .n-event
        n-confirm(ref="deleteConfirm")
        v-card-title.n-event__title
            .n-event__title__text
                .headline
                    n-event-label(:event="event")
            .n-event__title__options
                v-btn(icon @click="toggleStarred()")
                    v-icon(v-if="event.starred" color="orange") star
                    v-icon(v-else) star_border
                v-menu(v-if="!hideOptions" bottom left)
                    v-btn(icon slot="activator")
                        v-icon more_vert
                    v-list
                        v-list-tile(@click="deleteEvent()")
                            v-list-tile-action
                                v-icon delete
                            v-list-tile-content Delete
        v-card-text
            template(v-if="editable")
                n-datetime(v-model="startDate" :editable="editable")
                template(v-if="event.isTimed()")
                    v-switch.n-event__done-switch(v-if="doneSwitch" v-model="done" label="Done")
                    p.body-2 Time
                    p(v-if="!done"): n-event-time(active :event="event")
                    n-duration(v-if="done" v-model="event.duration" :editable="editable")
                n-event-details(:event="event" :editable="editable")
                v-text-field(v-model="event.note" multi-line rows="2" label="Note")
            template(v-else)
                p: n-event-summary(:event="event")
                p: n-event-note(:event="event")
            slot
        v-card-actions
            v-spacer
            v-btn(v-if="returnTo" flat :to="returnTo") Cancel
            v-btn(v-if="action" flat color="primary" @click="executeAction" :loading="loadingExecutingAction") {{ actionText }}

</template>
<script>

    import DateUtil from 'util/date';
    import EventBus from 'bus';
    import { sync } from 'component/sync';

    export default {

        props: {
            action: Function,
            actionText: {
                type: String,
                default: "Okay"
            },
            editable: {
                type: Boolean,
                default: false
            },
            event: Object,
            hideOptions: Boolean,
            returnTo: String
        },

        data() {
            return {
                done: this.event.isTimed() && !this.event.isActive(),
                doneSwitch: (() => this.event.isTimed() && this.event.isActive())(),
                duration: 0,
                endDate: null,
                loadingExecutingAction: false,
                startDate: this.event.date
            }
        },

        methods: {

            async deleteEvent(confirmed) {

                if (confirmed) {

                    const { user, baby } = this.$store.state;
                    const deletedEvent = this.$store.dispatch('deleteEvent', { event: this.event });
                    
                    sync(this.$store, this.$dao);

                    if (deletedEvent) {
                        this.$router.replace(this.returnTo);
                        EventBus.$emit('globalMessage', 'Deleted');
                    }

                } else {

                    this.$refs.deleteConfirm.open('Delete', 'Are you sure you want to delete this? It can\'t be recovered.')
                        .then((confirmed) => {
                            if (confirmed) {
                                this.deleteEvent(true)
                            }
                        });

                }

            },

            toggleStarred() {

                this.event.starred = !this.event.starred;

            },

            async executeAction(e) {
                try {
                    this.loadingExecutingAction = true;
                    await this.action(e);
                } finally {
                    this.loadingExecutingAction = false;
                }
            },

            refreshDuration() {
                if (this.endDate) {
                    this.event.duration = DateUtil.secondsSince(this.startDate, this.endDate);
                }
            },

            refreshEventDate() {
                this.event.date = this.startDate;
            }

        },

        beforeMount() {
            if (this.event.isTimed()) {
                this.endDate = DateUtil.getEndEvent(this.event.date, this.event.duration);
            }
        },

        watch: {
            done(on) {
                if (on) {
                    // Done toggled on
                    this.endDate = DateUtil.timestamp();
                } else {
                    // Done toggled off
                    this.endDate = null;
                    this.event.duration = 0;
                }
            },
            endDate() {
                this.refreshDuration();
            },
            startDate() {
                this.refreshEventDate();
                this.refreshDuration();
            }
        }

    }

</script>
<style lang="stylus">

    @import '../../conf.styl';

    .n-event
        &__title
            &__icon
                padding-right: $space-xs
            &__options
                position: absolute
                top: 8px
                right: 0
        &__done-switch
            position: absolute
            right: 0
            width: 110px

</style>
