<template lang="pug">

    .n-chart(ref="chartEl")

</template>
<script>
    
    import c3 from 'c3';
    import 'c3/c3.min.css';

    export default {

        props: {
            type: String,
            config: Object
        },

        mounted() {
            this.config.bindto = this.$refs.chartEl;
            c3.generate(this.config);
        }

    };

</script>
