<template lang="pug">
    div
        v-slider(v-model="event.details.severity" label="Level" thumb-label step="1" min="1" max="10" ticks)
</template>
<script>

    export default {

        props: {
            event: Object,
            editable: Boolean
        }

    }

</script>
