<template lang="pug">
    span {{ summary }}
</template>
<script>

    export default {
        props: {
            event: Object
        },
        computed: {
            summary() {
                return `Level ${this.event.details.severity}`;
            }
        }
    }

</script>
