<template lang="pug">

    n-page(title="Dashboard")
        div(slot="options")
            v-btn(flat icon color="primary" :to="{ name: 'timeline' }")
                v-icon timeline
        .mb-3(v-if="activeEvents.length")
            h2.headline: p Current
            n-events(:events="activeEvents")
        .mb-3(v-if="recentEvents.length")
            h2.headline: p Recent
            n-events(:events="recentEvents" time-since)
        .mb-3(v-if="sortedEvents.length")
            h2.headline: p Trends
            n-trends(:events="sortedEvents")
        n-addfab

</template>
<script>

    import moment from 'moment';
    import EventBus from 'bus';
    import { sync } from 'component/sync';

    export default {

        data() {
            return {
                activeEvents: [],
                recentEvents: [],
                // Sorted from most recent to least recent
                sortedEvents: []
            }
        },

        methods: {

            loadEvents() {

                this.sortedEvents = this.$store.getters.events
                    .nondeleted()
                    .sort((a, b) => b.date - a.date);

                console.warn(this.sortedEvents);

                this.activeEvents = this.sortedEvents.filter(event => event.isActive());
                const pastEvents = this.sortedEvents.filter(event => !event.isActive());

                this.recentEvents = [
                    pastEvents.find(event => 'eat' === event.type && 'breast' === event.details.type),
                    pastEvents.find(event => 'eat' === event.type && 'bottle' === event.details.type),
                    pastEvents.find(event => 'eat' === event.type && 'pump' === event.details.type),
                    pastEvents.find(event => 'sleep' === event.type),
                    pastEvents.find(event => 'diaper' === event.type),
                    pastEvents.find(event => 'fuss' === event.type)
                ].filter(e => e);

            }

        },

        mounted() {
            this.loadEvents();
            EventBus.$on('sync', this.loadEvents);
        },

        destroyed() {
            EventBus.$off('sync', this.loadEvents);
        }

    }

</script>
