<template lang="pug">
    div
        v-dialog(v-model="messageDialog" max-width="500")
            v-card
                v-card-title.headline Add a Note
                v-card-text
                    v-text-field(v-model="messageNote" label="Note" multi-line rows="3" autofocus)
                v-card-actions
                    v-spacer
                    v-btn(flat @click.native="hideMessageDialog()") Cancel
                    v-btn(flat color="primary" @click.native="saveMessage()") Add
        v-speed-dial(v-model="fab" floating fixed bottom right)
            v-btn(v-model="fab" slot="activator" dark fab).accent
                v-icon add
                v-icon close
            v-btn(fab small dark color="green" @click="navigateToCreateEvent('eat')")
                n-event-eat-icon
            v-btn(fab small dark color="brown" @click="navigateToCreateEvent('diaper')")
                n-event-diaper-icon
            v-btn(fab small dark color="purple" @click="navigateToCreateEvent('sleep')")
                n-event-sleep-icon
            v-btn(fab small dark color="red" @click="navigateToCreateEvent('fuss')")
                n-event-fuss-icon
            v-btn(fab small dark color="primary" @click="showMessageDialog()")
                v-icon message
            v-btn(fab small dark color="primary" @click="navigateToCreateEvent()")
                v-icon more_horiz
        //- div(v-if="activeEvent")
        //-     v-dialog(max-width="400" v-model="dialog")
        //-         v-btn(large fab dark floating fixed bottom right slot="activator").accent
        //-             v-icon add
        //-         v-card
        //-             v-card-title
        //-                 h1.headline
        //-                     n-event-label(:event="activeEvent")
        //-                     span  is Active
        //-             v-card-text
        //-                 p Do you want to finish it first?
        //-             v-card-actions
        //-                 v-spacer
        //-                 v-btn(flat @click="closeDialog()") Cancel
        //-                 v-btn(flat color="primary" @click="closeDialog(), navigateToCreateEvent()") Ignore
        //-                 v-btn(flat color="primary" @click="closeDialog(), navigateToEditEvent(activeEvent.eventId)") Finish
        //- div(v-else)
        //-     v-btn(large fab dark floating fixed bottom right @click="navigateToCreateEvent()").accent
        //-         v-icon add
</template>

<script>

    import DateUtil from 'util/date';
    import MessageEvent from 'model/event/MessageEvent';
    import { sync } from 'component/sync';
    
    export default {

    	props: {
    		date: [Number, String]
    	},

        data() {
            return {
                fab: false,
                dialog: false,
                messageDialog: false,
                messageNote: ''
            }
        },

        computed: {
            activeEvent() {
                return this.$store.state.events.nondeleted().find(event => event.isActive());
            }
        },

        methods: {
            closeDialog() {
                this.dialog = !this.dialog;
            },
            getCreateEventRoute(type) {
                return {
                    name: `event/create${ type ? '/type' : ''}`,
                    params: {
                        date: DateUtil.toDateString(this.date),
                        type
                    },
                    query: {
                    	// TODO Re-resolve this and add the date
                        returnTo: this.$route.fullPath,
                        details: '{}'
                    }
                };
            },
            hideMessageDialog() {
                this.messageDialog = false;
            },
            navigateToCreateEvent(type) {
                this.$router.push(this.getCreateEventRoute(type));
            },
            navigateToEditEvent(eventId) {
                const resolvedCreateEventPath = this.$router.resolve(this.getCreateEventRoute()).resolved.fullPath;
                this.$router.push({
                    name: 'event/edit',
                    params: {
                        eventId
                    },
                    query: {
                    	forceDone: 'true',
                        returnTo: resolvedCreateEventPath,
                        proceedTo: resolvedCreateEventPath
                    }
                });
            },
            async saveMessage() {
                const createdEvent = await this.$store.dispatch('createEvent', { event: new MessageEvent({ note: this.messageNote }) });
                sync(this.$store, this.$dao);
                this.hideMessageDialog();
                this.$router.push({
                    name: 'timeline',
                    params: { date: DateUtil.toDateTimeString(createdEvent.date) },
                    query: { eventId: createdEvent.eventId }
                })
            },
            showMessageDialog() {
                this.messageDialog = true;
            }
        }

    };

</script>