<template lang="pug">

    n-page(title="Your Baby")

        template(v-if="'add' === method")
            v-form(v-model="valid" ref="form" lazy-validation)
                v-card
                    v-card-title
                        .headline Your Baby
                    v-card-text
                        v-text-field(v-model="draft.name" label="Baby's Name" :rules="defaultRules" required)
                        v-select(v-model="draft.gender" label="Baby's Gender" :items="[ 'Boy', 'Girl' ]" :rules="defaultRules" required)
                    v-card-actions
                        v-spacer
                        v-btn(color="primary" @click="submit" :disabled="!valid") Add

        template(v-else-if="'find' === method")
            p Coming Soon

        template(v-else)
            v-container.text-md-center
                p: v-btn(:to="{ name: 'baby/create', params: { method: 'add' } }") Add a New Baby
                p Or
                p: v-btn(:to="{ name: 'baby/create', params: { method: 'find' } }") Find a Baby

</template>
<script>

    import Baby from 'model/Baby';

    export default {

        props: {
            method: String
        },

        data() {
            return {
                defaultRules: [ v => !!v || 'required' ],
                draft: new Baby(),
                valid: true
            }
        },

        methods: {
            async submit() {
                if (this.$refs.form.validate()) {
                    const baby = await this.$dao.createBaby(this.$store.state.user.userId, this.draft);
                    this.$router.push({ name: 'dashboard', replace: true });
                }
            }
        }

    }

</script>
