<template lang="pug">

    v-container.n-page
        v-layout(justify-space-around)
            v-flex(sm8 xs12)
                section
                    header
                        .n-page__options: slot(name="options")
                        h1.display-1: p: slot(name="title") {{ $store.state.title }}
                    main
                        slot

</template>
<script>
    
    export default {

        props: {
            nav: Boolean,
            title: String
        },

        data() {
            return {
                dialog: false
            }
        },

        mounted() {
            this.$store.commit('setTitle', this.title);
        },

        watch: {
            title(value) {
                this.$store.commit('setTitle', value);
            }
        }

    }

</script>
<style lang="stylus">

    .n-page
        height: 100%;
        padding-bottom: 96px;
        &__options
            float: right
            .btn
                margin-top: 0;
            :last-child
                margin-right: 0

</style>
