<template lang="pug">
    div
        p.body-2 Height
        v-layout(flex)
            v-flex.xs-4
                v-select(label="Feet" v-model="draft.feet" :items="options.feet")
            v-flex.xs-4
                v-select(label="Inches" v-model="draft.inches" :items="options.inches")
        p.body-2 Weight
        v-layout(flex)
            v-flex.xs-4
                v-select(label="Pounds" v-model="draft.pounds" :items="options.pounds")
            v-flex.xs-4
                v-select(label="Ounces" v-model="draft.ounces" :items="options.ounces")
</template>
<script>

    export default {

        props: {
            event: Object,
            editable: Boolean
        },

        data() {
            return {
                draft: {
                    inches: this.event.getHeightInches(),
                    ounces: this.event.getWeightOunces(),
                    pounds: this.event.getWeightPounds(),
                    feet: this.event.getHeightFeet()
                },
                options: {
                    inches: Array.from(Array(12).keys()),
                    ounces: Array.from(Array(16).keys()),
                    pounds: Array.from(Array(31).keys()),
                    feet: Array.from(Array(5).keys())
                }
            }
        },

        methods: {
            syncHeightAndWeight() {
                this.event.setWeight(this.draft.pounds, this.draft.ounces);
                this.event.setHeight(this.draft.feet, this.draft.inches);
            }
        },

        watch: {
            'draft.pounds'() {
                this.syncHeightAndWeight();
            },
            'draft.ounces'() {
                this.syncHeightAndWeight();
            },
            'draft.feet'() {
                this.syncHeightAndWeight();
            },
            'draft.inches'() {
                this.syncHeightAndWeight();
            }
        }

    }

</script>
