<template lang="pug">
    span {{ label }}
</template>
<script>

    export default {
        props: {
            event: Object
        },
        computed: {
            label() {
                const result = [];
                if (this.event.details.height) {
                    result.push('Height');
                }
                if (this.event.details.weight) {
                    result.push('Weight');
                }
                return result.length ? result.join('/') : 'Height/Weight';
            }
        }
    }

</script>
