<template lang="pug">
    span {{ summary }}
</template>
<script>

    export default {
        props: {
            event: Object
        },
        computed: {
            summary() {
                return `${[ this.event.getFormattedHeight(), this.event.getFormattedWeight() ].join(' and ')}`;
            }
        }
    }

</script>
