<template lang="pug">
    v-dialog(v-model="dialog" :max-width="options.width" @keydown.esc="cancel()")
        v-card
            v-card-title.headline {{ title }}
            v-card-text(v-show="message") {{ message }}
            v-card-actions
                v-spacer
                v-btn(flat @click.native="cancel()") Cancel
                v-btn(flat color="primary" @click.native="agree()" :loading="loading") Yes
</template>
<script>
    /**
     * Vuetify Confirm Dialog component
     *
     * Insert component where you want to use it:
     * <confirm ref="confirm"></confirm>
     *
     * Call it:
     * this.$refs.confirm.open('Delete', 'Are you sure?', { color: 'red' }).then((confirm) => {});
     *
     * Alternatively you can place it in main App component and access it globally via this.$root.$confirm
     * <template>
     *   <v-app>
     *     ...
     *     <confirm ref="confirm"></confirm>
     *   </v-app>
     * </template>
     *
     * mounted() {
     *   this.$root.$confirm = this.$refs.confirm.open;
     * }
     */
    export default {
        data() {
            return {
                dialog: false,
                resolve: null,
                reject: null,
                loading: null,
                message: 'Are you sure?',
                title: null,
                options: {
                    color: 'primary',
                    width: 350,
                }
            };
        },
        methods: {
            open(title, message, options = {}) {
                this.dialog = true;
                this.title = title;
                this.message = message;
                this.options = Object.assign(this.options, options);
                return new Promise((resolve, reject) => {
                    this.resolve = resolve;
                    this.reject = reject;
                }).finally(() => {
                    this.loading = null;
                    this.dialog = false;
                });
            },
            agree() {
                this.loading = true;
                this.resolve(true);
            },
            cancel() {
                this.resolve(false);
            },
        },
    }
</script>