<template lang="pug">
    div
        p.body-2 Type
        v-btn-toggle.mb-4(mandatory v-model="event.details.type")
            v-btn(v-for="type in typeOptions" :key="type" :value="type" flat) {{ type }}
        p(v-if="showBreast")
            template(v-if="editable")
                v-select(label="Breast" v-model="event.details.breast" :items="breastLocationOptions")
        p(v-if="showAmount")
            template(v-if="editable")
                v-select(label="Amount" v-model="event.details.amount" :items="bottleAmountOptions")
</template>
<script>

    import { BREAST_LOCATIONS, BOTTLE_AMOUNTS, TYPES } from 'model/event/EatEvent';

    export default {

        props: {
            event: Object,
            editable: Boolean
        },

        computed: {
            showAmount() {
                return 'bottle' === this.event.details.type || 'pump' === this.event.details.type;
            },
            showBreast() {
                return 'breast' === this.event.details.type || 'pump' === this.event.details.type;
            }
        },

        data() {
            return {
                bottleAmountOptions: BOTTLE_AMOUNTS,
                breastLocationOptions: BREAST_LOCATIONS,
                typeOptions: TYPES
            }
        }

    }

</script>
