<template lang="pug">
    span {{ label }}
</template>
<script>

    export default {
        props: {
            event: Object
        },
        computed: {
            label() {
                if (this.event.details) {
                    switch (this.event.details.type) {
                        case 'breast':
                            return 'Breast Feeding';
                        case 'bottle':
                            return 'Bottle';
                        case 'pump':
                            return 'Pump';
                        default:
                            return 'Feeding';
                    }
                } else {
                    return 'Eat';
                }
            }
        }
    }

</script>
