<template lang="pug">
    span {{ summary }}
</template>
<script>

    import WordUtil from 'util/word';

    export default {
        props: {
            event: Object
        },
        computed: {
            amount() {
                return this.event.details.amount || 'Unknown Amount';
            },
            breast() {
                return this.event.details.breast || 'Unknown Breast';
            },
            summary() {
                if ('breast' === this.event.details.type) {
                    return WordUtil.capitalize(`${this.breast}`);
                } else if ('pump' === this.event.details.type) {
                    return WordUtil.capitalize(`${this.breast}, ${this.amount}`);
                } else if ('bottle' === this.event.details.type) {
                    return this.amount;
                }
            }
        }
    }

</script>
