<template lang="pug">

    n-page(title="Settings")
        .mt-3.mb-3.headline Theme
        v-select(label="Theme" :items="themeSelections" v-model="draft.theme")
        v-switch(label="Night Mode" v-model="draft.dark")
        v-btn(color="primary" @click="submit()" :loading="loadingSubmit") Save
        .mt-3.mb-3.headline Data
        p Reload everything; a full sync with the server. This will remove any events that haven't been saved on the server yet!
        n-confirm(ref="reloadAllConfirm")
        v-btn(@click="reloadAll()") Reload All

</template>
<script>

    import EventBus from 'bus';
    import Theme from 'model/theme';

    function updateTheme($vuetify, settings) {
        const theme = Theme.getPreset(settings.theme);
        Object.assign($vuetify.theme, theme.colors);
        $vuetify.dark = settings.dark;
    }

    export default {
        
        data() {
            return {
                draft: JSON.parse(JSON.stringify(this.$store.state.settings)),
                loadingSubmit: false,
                themeSelections: Object.entries(Theme.preset).map(([key, theme]) => ({
                    text: theme.name,
                    value: key
                }))
            }
        },

        computed: {
            user() {
                return this.$store.state.user;
            }
        },

        watch: {
            'draft.theme'() {
                updateTheme(this.$vuetify, this.draft);
            },
            'draft.dark'() {
                updateTheme(this.$vuetify, this.draft);
            }
        },

        methods: {
            reloadAll(confirmed) {
                if (confirmed) {
                    try {
                        this.$store.commit('evictAll');
                        this.$router.push({ name: 'dashboard' });
                        window.location.reload();
                    } catch(e) {
                        EventBus.$emit('globalMessage', 'An error occurred while reloading');
                        throw e;
                    }
                } else {
                    this.$refs.reloadAllConfirm.open('Reload All', 'Are you sure you want to reload everything?')
                        .then((confirmed) => {
                            if (confirmed) {
                                this.reloadAll(true);
                            }
                            return confirmed;
                        });
                }
            },
            async submit() {
                try {
                    this.loadingSubmit = true;
                    const settings = await this.$dao.updateSettings(this.user.userId, this.draft);
                    this.$store.commit('updateSettings', settings);
                    updateTheme(this.$vuetify, settings);
                    EventBus.$emit('globalMessage', 'Settings Saved');
                } finally {
                    this.loadingSubmit = false;
                }
            }
        },

        destroyed() {
            updateTheme(this.$vuetify, this.$store.state.settings);
        }

    }

</script>