<template lang="pug">

    div(v-if="editable")
        v-layout
            v-flex(xs12)
                v-text-field(
                    label="Date and Time"
                    type="datetime-local"
                    prepend-icon="date_range"
                    v-model="draft"
                    @input="input"
                )

    div(v-else)
        span {{ prettyDateTime }}

</template>
<script>

    import { timestamp, toDateTimeString, toPrettyDate, toPrettyTime } from 'util/date';
    
    export default {
        model: {
            prop: 'value',
            event: 'input'
        },
        props: {
            editable: Boolean,
            value: Number
        },
        data() {
            return {
                draft: toDateTimeString(this.value)
            }
        },
        computed: {
            prettyDateTime() {
                return toPrettyDateTime(this.date);
            }
        },
        methods: {
            input() {
                this.$emit('input', timestamp(this.draft));
            }
        }
    }

</script>