<template lang="pug">
    v-app(:dark="dark")
        v-navigation-drawer(app fixed clipped persistent v-model="drawer")
            v-list(dense).pt-2
                template(v-if="user")
                    template(v-if="baby")
                        v-list-tile(ripple :to="{name: 'dashboard'}")
                            v-list-tile-action: v-icon dashboard
                            v-list-tile-content: v-list-tile-title Dashboard
                        v-list-tile(ripple :to="{name: 'timeline'}")
                            v-list-tile-action: v-icon timeline
                            v-list-tile-content: v-list-tile-title Timeline
                        v-divider.mt-2.mb-2
                    v-list-tile(v-if="baby" ripple :to="{name: 'export'}")
                        v-list-tile-action: v-icon print
                        v-list-tile-content: v-list-tile-title Save/Export
                    v-list-tile(ripple @click="sync(true)")
                        v-list-tile-action: v-icon(:class="{ 'spin--reverse': loadingSync }") sync
                        v-list-tile-content: v-list-tile-title Sync
                    v-list-tile(ripple :to="{name: 'settings'}")
                        v-list-tile-action: v-icon settings
                        v-list-tile-content: v-list-tile-title Settings
                v-list-tile
                    v-list-tile-content: small {{ version }}
        v-toolbar(app dark fixed clipped-left color="primary")
            v-toolbar-side-icon(@click.stop="drawer = !drawer")
            v-toolbar-title
                router-link(:to="{ name: 'dashboard' }" style="color: inherit; text-decoration: none") {{ toolbarTitle }}
            v-spacer
            template(v-if="globalAction && globalAction.action")
                v-btn(flat icon @click="globalAction.action"): v-icon {{ globalAction.icon || 'check' }}
        v-content.app
            transition(name="app-fade-transition")
                router-view
            v-snackbar(v-model="showGlobalMessage")
                span {{ globalMessage }}
                v-btn(flat color="yellow" @click.native="removeGlobalMessage()") Okay
</template>
<script>

    import Theme from 'model/theme';
    import EventBus from 'bus';
    import { sync } from 'component/sync';

    export default {
    
        data() {
            return {
                drawer: null,
                globalAction: {},
                globalMessage: '',
                loadingSync: false,
                showGlobalMessage: false,
                version: APP_VERSION
            }
        },

        computed: {
            authenticated() {
                return this.$store.state.authenticated;
            },
            baby() {
                return this.$store.state.baby;
            },
            dark() {
                return this.$store.state.settings.dark || this.$vuetify.dark;
            },
            theme() {
                return Theme.preset[this.$store.state.settings.theme];
            },
            toolbarTitle() {
                return this.baby ? this.baby.name : 'Baby Journal';
            },
            user() {
                return this.$store.state.user;
            }
        },

        methods: {

            async sync(initiatedByUser) {
                try {
                    this.loadingSync = true;
                    const result = await sync(this.$store, this.$dao);
                    if (this.drawer) {
                        this.drawer = false;
                    }
                    if (this.initiatedByUser && !result) {
                        EventBus.$emit('globalMessage', 'Nothing to sync');
                    }
                } finally {
                    this.loadingSync = false;
                }
            },

            removeGlobalAction() {
                this.globalAction = {};
            },

            removeGlobalMessage() {
                this.globalMessage = null;
                this.showGlobalMessage = false;
            },

            setGlobalAction({ action, icon }) {
                this.globalAction = { action, icon };
            },

            setGlobalMessage(message) {
                this.globalMessage = message;
                this.showGlobalMessage = Boolean(message);
            }

        },

        mounted() {

            EventBus.$on('globalAction', this.setGlobalAction);
            EventBus.$on('globalMessage', this.setGlobalMessage);

        }

    }

</script>
<style lang="stylus">

    @require '../conf.styl'

    .app-fade-transition
        &-leave-active
            position: absolute
        &-enter-active, &-leave, &-leave-to
            transition: opacity 0.16s
        &-enter, &-leave-to
            opacity: 0

    .app-slide-left-transition
        &-enter
            transform: translateX(30px);
            opacity: 0;
        &-enter-active
        &-leave-active
            transition: opacity 0.16s, transform 0.5s
            position: absolute;
        &-leave-to
            transform: translateX(-30px);
            opacity: 0;
            


    @-moz-keyframes pulse
        0% { opacity: 1 }
        50% { opacity: 0 }
        100% { opacity: 1 }

    @-webkit-keyframes pulse
        0% { opacity: 1 }
        50% { opacity: 0 }
        100% { opacity: 1 }

    @keyframes pulse
        0% { opacity: 1 }
        50% { opacity: 0 }
        100% { opacity: 1 }

    .pulse
        animation: pulse 1.5s linear infinite;

    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }

    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }

    .spin
        animation: spin 1s linear infinite;

    .spin--reverse
        animation: spin 1s linear infinite reverse;

</style>
