<template lang="pug">

    n-page(v-touch="touch")
        v-text-field.n-timeline-view__date-picker(type="date" v-model="selectedDate" @input="setDate" prepend-icon="date_range")
        p.text-xs-center {{ dayOfWeek }}
        n-events(:events="events" :highlightedEventId="highlightedEventId")
        n-addfab

</template>
<script>

    import moment from 'moment';
    import DateUtil from 'util/date';
    import EventBus from 'bus';
    import { sync } from 'component/sync';

    const DAYS_OF_WEEK = [
        'Sunday',
        'Monday',
        'Tuesday',
        'Wednesday',
        'Thursday',
        'Friday',
        'Saturday'
    ];

    export default {
    
        props: {
            date: {
                type: String,
                default: DateUtil.toDateTimeString(new Date())
            }
        },

        data() {
            return {
                events: [],
                selectedDate: DateUtil.toDateString(this.date),
                touch: {
                    right: this.previousDate,
                    left: this.nextDate
                }
            }
        },

        computed: {
            baby() {
                return this.$store.getters.baby;
            },
            convertedDate() {
                return DateUtil.parse(this.date);
            },
            dayOfWeek() {
                return DAYS_OF_WEEK[moment(this.date).day()];
            },
            highlightedEventId() {
                return this.$route.query.eventId;
            },
            title() {
                return DateUtil.toPrettyDate(this.convertedDate);
            },
            user() {
                return this.$store.getters.user;
            }
        },

        methods: {
            loadEvents() {
                const dateMoment = moment(this.selectedDate);
                this.events = this.$store.getters.events
                    .nondeleted()
                    .filter(event => dateMoment.isSame(moment(event.date), 'day'))
                    .sort((a, b) => {
                        const dateA = moment(a.date);
                        const dateB = moment(b.date);
                        return dateA.isAfter(dateB);
                    });
            },
            previousDate() {
                this.setDate(moment(this.date).add(-1, 'day'));
            },
            nextDate() {
                this.setDate(moment(this.date).add(1, 'day'));
            },
            setDate(date) {
                this.$router.push({ name: 'timeline', params: { date: DateUtil.toDateString(date) }})
            }
        },

        mounted() {
            this.loadEvents();
            EventBus.$on('sync', this.loadEvents);
        },

        destroyed() {
            EventBus.$off('sync', this.loadEvents);
        },

        watch: {
            date() {
                this.selectedDate = DateUtil.toDateString(this.date);
                this.loadEvents();
            }
        }

    }

</script>
<style lang="stylus">

    .n-timeline-view
        &__date-picker
            input
                text-align: center
                font-size: 24px // Headline
                height: 48px

</style>
