<template lang="pug">
    
    n-page
        template(v-if="draft")
            v-card
                v-form(v-model="valid")
                    n-event(
                        :event="draft"
                        :editable="true"
                        :action="submit"
                        action-text="Save"
                        :returnTo="returnTo"
                    )

</template>
<script>

    import Event from 'model/event';
    import DateUtil from 'util/date';
    import EventBus from 'bus';
    import { sync } from 'component/sync';

    export default {

        props: {
            eventId: String
        },

        data() {
            return {
                confirmDelete: false,
                draft: null,
                valid: false
            }
        },

        computed: {

            returnTo() {
                return this.$route.query.returnTo || '/timeline';
            },

            proceedTo() {
                return this.$route.query.proceedTo || {
                    name: 'timeline',
                    params: { date: DateUtil.toDateTimeString(this.draft.date) },
                    query: { eventId: this.draft.eventId }
                };
            }

        },

        methods: {
            
            async submit() {

                // if (this.$refs.form.validate()) {

                const updatedEvent = this.$store.dispatch('updateEvent', { event: this.draft, log: true });

                sync(this.$store, this.$dao);

                if (updatedEvent) {
                    this.$router.push(this.proceedTo);
                }

                // }

            }

        },

        beforeMount() {
            const event = this.$store.getters.eventById(this.eventId);
            this.draft = Event.create(event);
            if (this.$route.query.forceDone && this.draft.isActive()) {
                this.draft.duration = DateUtil.secondsSince(DateUtil.parseEvent(this.draft));
            }
        },

        mounted() {
            EventBus.$emit('globalAction', {
                icon: 'check',
                action: this.submit
            });
        },

        destroyed() {
            EventBus.$emit('globalAction', {});
        }

    }

</script>
